html,body{
    margin: 0;
    padding: 0;
    font-size :16px
}
.container{
    display:flex;
    display: -webkit-flex;
    flex-wrap:nowrap;
    justify-content: center;
    height: 16rem;
}

.left{
    width:16rem;
    background:red
}

.right{
    flex:1;
    background:green;
}